<%- model_class = Solicitacao -%>
<% @opcao_status = ["Em An치lise", "Vi치vel", "Invi치vel", "An치lise Eletrosul"] %>
<br>

<div class='tudo'>
  <div class="quadroBotoes row col-sm-2">
    <div>
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    solicitacao_path(@solicitacao), :class => 'btn botao btn-sm btn-block'  %>
    </div><!-- div botao back -->
    <div>
     <%= f.submit nil, :class => 'btn botao btn-sm btn-block' %>
   </div><!-- div botao edit -->

    <div>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    solicitacao_path(@solicitacao),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn botaoApaga btn-sm btn-block' %>
    </div>
  </div> <!-- div quadrobotoes -->
  <div class='container'>  
  <div class='col-sm-10 '>
    <%= form_for @solicitacao do |f| %>
      <% if @solicitacao.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@solicitacao.errors.count, "error") %> prohibited this equipamento from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @solicitacao.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div><!-- error -->
      <% end %>
      
      <div class='form-inline campoInline'>
        <div class='form-group campoVt'>
          <%= f.label :numero_vt %>
          <%= f.text_field :numero_vt, size: 12,
              class: 'form-control input-sm',
              disabled: true %>
        </div>
        <%= f.error_span(:numero_vt) %>
        
        <div class='form-group campoEmpresa'>
          <%= f.label :empresa_id %>
          <%= f.collection_select :empresa_id, @empresa_options_for_select, 
                                  :id, :razao,
                                  { include_blank: true },
                                  { class: 'form-control input-sm'} %>
          </div>
          <%= f.error_span(:empresa_id) %>
        </div>
      
        <div class='form-inline campoInline '>
          <div class='form-group campoDados' >
            <%= f.label :data_solicitacao %>
            <%= f.text_field :data_solicitacao, :value => date_mdY(@solicitacao.data_solicitacao),
                size: 12,
                class: 'form-control input-sm input-sm' %>
          </div>
          <%= f.error_span(:data_solicitacao) %>      
  
  
          <div class='form-group campoDados'>
            <%= f.label :solicitante %>
            <%= f.collection_select :solicitante, 
                      @solicitante_options_for_select, 
                      :nome, :nome, 
                      { include_blank: true},
                      { class: 'form-control input-sm'} %>
          </div>    
          <%=f.error_span(:solicitante) %>
          
          <div class='form-group campoDados'>
            <%= f.label :analista %>
            <%= f.collection_select :analista, 
                        @analista_options_for_select, 
                        :nome, :nome,
                        { include_blank: false },
                        { class: 'form-control input-sm'} %>
          </div>
          <%= f.error_span(:analista) %>
        </div>
        
        <div class='form-inline campoInline'>  
          <div class="form-group campoDados">
            <%= f.label :servico %>
            <%= f.collection_select :servico, 
                    @servico_options_for_select, 
                    :nome, :nome, 
                    { include_blank: true},
                    { class: 'form-control input-sm'} %>
          </div>
          <%=f.error_span(:servico) %>
            
          <div class="form-group campoDados ">
            <%= f.label :banda %>
            <%= f.number_field :banda, min: 1, max: 100000, 
                  class: 'form-control input-sm' %>
          </div>
          <%= f.error_span(:banda) %>
        </div>
        
        <div class='form-inline campoInline'>
          <div class='form-group campoDados'>
            <%= f.label :endereco_a %>
            <%= f.text_field :endereco_a, size: 50,
                       class: 'form-control input-sm'%>
          </div>
          <%= f.error_span(:endereco_a) %>
          
          <div class='form-group campoDados'>    
            <%= f.label :uf_a %>
            <%= f.collection_select :uf_a, 
                  @uf_options_for_select, 
                  :sigla, :sigla,
                  { include_blank: true },
                  { class: 'form-control input-sm'}  %>
          </div>
          <%=f.error_span(:uf_a) %>
      
          <div class='form-group campoDados'>
            <%= f.label :localidade_a %>
            <%= f.grouped_collection_select :localidade_a, 
                @uf_options_for_select, 
                :localidades, :sigla, :municipio, :municipio,
                { include_blank: true },
                { class: 'form-control input-sm'} %>
          </div>
          <%= f.error_span(:localidade_a) %>
        </div>

      <div class='form-inline campoInline'>
        <div class="form-group campoDados ">
          <%= f.label :endereco_b %>
          <%= f.text_field :endereco_b, size: 50,
                 class: 'form-control input-sm ' %>
        </div>
        <%= f.error_span(:endereco_b) %>
        
        <div class="form-group campoDados">
          <%= f.label :uf_b %>
          <%= f.collection_select :uf_b, 
                      @uf_options_for_select, 
                      :sigla, :sigla, 
                      { include_blank: true }, 
                      { class: 'form-control input-sm '} %>
         </div>
        <%= f.error_span(:uf_b) %>
    
        <div class="form-group campoDados">   
          <%= f.label :localidade_b  %>
          <%= f.grouped_collection_select :localidade_b, 
                    @uf_options_for_select, 
                    :localidades, :sigla, :municipio, :municipio,
                    { include_blank: true },
                    {class: 'form-control input-sm '} %>
        </div><!--/localidade_b-->
        <%= f.error_span(:localidade_b) %>
      </div><!-- endereco b uf b localidade b -->  
      <% end %>
    </div><!-- div quadro solicitacao -->
    </div> <!-- container -->
</div><!-- quadro tudo -->
