<div class="nested-fields">
  <div class="row" style:"margin: 100px">
    <div class="col-sm-1 campoTipo" >
      <%= f.input :tipo ,
          label: false%>
    </div>
    
    <div class="col-sm-1 campoEstrutura">
      <%= f.input :estrutura, 
          label: false  %>
    </div>
    
    <div class="col-sm-4 campoDescricao" >
      <%= f.input :descricao, 
          label: false  %>
    </div>
    
    <div class="col-sm-1 campoPrazo">
      <%= f.input :prazo, 
          label: false %>
    </div>
    
    <div class="col-sm-1 campoCapex">
      <%= f.input :capex, 
          label: false %>
    </div>
    
    <div class="col-sm-1 campoOpexInstalacao">
      <%= f.input :opex_instalacao, 
          label: false %>
    </div>
    
    <div class="col-sm-1 campoOpexMensal">
      <%= f.input :opex_mensal, 
          label: false %>
    </div>
    
    <div class="col-sm-1 campoResultadoVt" >
      <%= f.input :resultado_vt, 
          label: false,
          input_html: {value: f.object.resultado_vt ||"Em análise"} %>
      </div>
          
    <div class="col-sm-1">
      <%= link_to "#" do %>
         <i class="glyphicon glyphicon-trash" style="color: red; padding-top: 10px" title="Remover"></i>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- nested-fields -->