<div class="nested-fields">
  <div class="row " style='margin: 0px;'>
    <div class='col-sm-1 campoTipo'><%= r.tipo%></center></div>        
    <div class='col-sm-1 campoEstrutura'><%= r.estrutura %></div> 
    <div class='col-sm-4 campoDescricao'><%= r.descricao %></div>
    <div class='col-sm-1 campoPrazo '><%= r.prazo %></div> 
    <div class='col-sm-1 campoCapex '><%= r.capex %></div> 
    <div class='col-sm-1 campoOpexInstalacao'><%= r.opex_instalacao %></div> 
    <div class='col-sm-1 campoOpexMensal'><%= r.opex_mensal %></div> 
    <div class='col-sm-1 campoResultadoVt'><%= r.resultado_vt %></div>
    <div class='col-sm-1 campoApaga'>
      <%= link_to "#" do %>
         <i class="glyphicon glyphicon-trash" style="color: red; margin: 4px;" title="Remover"></i>
      <% end %>
    </div><!-- botao edita -->
  </div> <!-- row -->
  <hr class="linha">
</div><!-- nested-fields -->
