<div class="nested-fields">
  <div class="field">
    <tr>
      <td><%= f.input :tipo, label: false %></td>        
      <td><%= f.input :estrutura, label: false %></td>
      <td><%= f.input :descricao, label: false %></td>
      <td><%= f.input :prazo, label: false %></td>
      <td><%= f.input :capex, label: false %></td>
      <td><%= f.input :opex_instalacao, label: false %></td>
      <td><%= f.input :opex_mensal, label: false %></td>
      <td><%= f.input :resultado_vt, label: false %></td>
    </tr>
  </div>
</div><!-- nested-fields -->