<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
<% end %>


<%- model_class = Solicitacao -%>

<div class="list-group">
  <h1 class="list-group-item-heading list-group-item-info">
        <center><%=t '.title', :default => model_class.model_name.human(count: @solicitacoes.count).titleize %></center>
  </h1>
</div>

<table class="table table-striped" id="solicitacao">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:numero_vt) %></th>
      <th><%= model_class.human_attribute_name(:resultado_vt) %></th>
      <th><%= model_class.human_attribute_name(:data_solicitacao) %></th>
      <th><%= model_class.human_attribute_name(:empresa_id) %></th>
      <th><%= model_class.human_attribute_name(:solicitante) %></th>
      <th><%= model_class.human_attribute_name(:servico) %></th>
      <th><%= model_class.human_attribute_name(:banda) %></th>
      <th> Pta A </th>
      <th><%= model_class.human_attribute_name(:uf_a) %></th>
      <th>Pta B</th>
      <th><%= model_class.human_attribute_name(:uf_b) %></th>
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>
  </thead>
  <tbody>
    <% @solicitacoes.each do |solicitacao| %>
      <tr>
        <td><%= link_to solicitacao.numero_vt, solicitacao_path(solicitacao), :title => "Detalhar/Editar" %></td>
        <td><%= solicitacao.resultado_vt %></center></td>
        <td><%= solicitacao.data_solicitacao %></td>
        <td><%= solicitacao.empresa.razao %></td>
        <td><%= solicitacao.solicitante %></td>
        <td><%= solicitacao.servico %></td>
        <td><%= solicitacao.banda %></td>
        <td><center><%= solicitacao.localidade_a %></center></td>
        <td><center><%= solicitacao.uf_a %></center></td>
        <td><center><%= solicitacao.localidade_b %></center></td>
        <td><center><%= solicitacao.uf_b %></center></td>
       </tr>
    <% end %>
  </tbody>
</table>
<div>
  <center>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_solicitacao_path,
                  :class => 'btn botao btn-sm' %>
  </center>
</div>

