<%- model_class_solicitacao = Solicitacao -%>
<% @opcao_status = ["Em Análise", "Viável", "Inviável", "Análise Eletrosul"] %>

<div class="list-group">
  <h1 class='list-group-item-heading list-group-item-info' style='text-align: center;'>
    <%=t '.title', :default => model_class_solicitacao.model_name.human.titleize %> - <%= @solicitacao.numero_vt %>
  </h1>
</div> <!-- list-group-->
<div class="container">
  <div class="row col-sm-2">
    <div><%= link_to t('.back', :default => t("helpers.links.back")),
                    solicitacoes_path, :class => 'btn botao btn-sm btn-block'  %>
    </div><!-- div botao back -->
    <div><%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_solicitacao_path(@solicitacao), :class => 'btn botao btn-sm btn-block' %>
    </div><!-- div botao edit -->
    <div><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    solicitacao_path(@solicitacao),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn botaoApaga btn-sm btn-block' %>
    </div>
  </div> <!-- div quadrobotoes -->
    
  <div class="row col-sm-10">
    <div>
      <div class='col-sm-9'>
        <strong><%= model_class_solicitacao.human_attribute_name(:empresa_id) %>: </strong>
        <%= @solicitacao.empresa.razao %>
      </div>
      <div class='col-sm-3'>
        <strong><%= model_class_solicitacao.human_attribute_name(:data_solicitacao)%>: </strong>
        <%= @solicitacao.data_solicitacao %>
      </div>
    </div>

    <div>
      <div class='col-sm-6'>
        <strong><%= model_class_solicitacao.human_attribute_name(:solicitante)%>: </strong>
        <%= @solicitacao.solicitante %>
      </div>
      <div class='col-sm-6'>
        <strong><%= model_class_solicitacao.human_attribute_name(:analista)%>: </strong>      
        <%= @solicitacao.analista %>
      </div>

    </div>
      <div class='col-sm-6'>
        <strong><%= model_class_solicitacao.human_attribute_name(:servico)%>: </strong>      
        <%= @solicitacao.servico %>
      </div>
      <div class='col-sm-6'>
        <strong><%= model_class_solicitacao.human_attribute_name(:banda)%>: </strong>    
        <%= @solicitacao.banda %>
      </div>
    <div>
      
    </div>
    
    <div>
      <div class='col-sm-6'>
        <strong><%= model_class_solicitacao.human_attribute_name(:endereco_a)%>: </strong>      
        <%= @solicitacao.endereco_a %>
      </div>
      <div class='col-sm-4'>
        <strong><%= model_class_solicitacao.human_attribute_name(:localidade_a) %>: </strong>      
        <%= @solicitacao.localidade_a %>
      </div>
      <div class='col-sm-2'>
        <strong><%= model_class_solicitacao.human_attribute_name(:uf_a) %>: </strong>
        <%= @solicitacao.uf_a %>
      </div>
    </div>

    <div>
      <div class='col-sm-6'>
        <strong><%= model_class_solicitacao.human_attribute_name(:endereco_b) %>: </strong>
        <%= @solicitacao.endereco_b %>
      </div>
      <div class='col-sm-4'>
        <strong><%= model_class_solicitacao.human_attribute_name(:localidade_b) %>: </strong>     
        <%= @solicitacao.localidade_b %>
      </div>
      <div class='col-sm-2'>
        <strong><%= model_class_solicitacao.human_attribute_name(:uf_b) %>: </strong>
        <%= @solicitacao.uf_b %>
      </div>
    </div>
  </div><!-- div quadroDados -->
</div><!-- quadro tudo -->
<div class="quadroRespostas ">
  <div style="text-align: center;"><h1 class="list-group-item-success" sytle='clear: both;'>Análise Viabilidade</h1></div>

  <div style='text-align: center; padding: 15px;'>
        <%= link_to new_resposta_path, :class => ' botao bt-sm', :title => 'Incluir novo Recurso' do  %>
           <%= content_tag(:i, " Novo Recurso",:class=>' glyphicon glyphicon-tag') %>
        <% end %>
  </div>
    <div class="row">
      <hr class='linha'>
      <strong>
        <div class='col-sm-1 campoTipo' >Tipo</div>        
        <div class='col-sm-1 campoEstrutura'>Estrutura</div> 
        <div class='col-sm-4 campoDescricao'>Descrição</div>        
        <div class='col-sm-1 campoPrazo'>Prazo</div>
        <div class='col-sm-1 campoCapex'>Capex</div> 
        <div class='col-sm-1 campoOpexInstalacao'>Opex Inst</div> 
        <div class='col-sm-1 campoOpexMensal'>Opex Mês</div>
        <div class='col-sm-1 campoVt'>Resultado</div>             
      </strong>
    </div><!-- row -->
    <hr class="linha ">
    <div id="respostas">
      <% @solicitacao.respostas.each  do |respostas_fields| %>
        <%= render partial: "resposta_fields", locals: { r: respostas_fields } %>
      <% end %>
    </div><!-- respostas -->
  </div><!--/container-->
</div> <!-- quadro respostas -->

