<%- model_class_solicitacao = Solicitacao -%>
<% @opcao_status = ["Em Análise", "Viável", "Inviável", "Análise Eletrosul"] %>

<div class="list-group ">
  <h1 class="list-group-item-heading list-group-item-info">
        <center><%=t '.title', :default => model_class_solicitacao.model_name.human.titleize %> - <%= @solicitacao.numero_vt %></center>
  </h1>
</div> <!-- list-group-->
<div class="container">
  <div class="row col-sm-2">
    <div><%= link_to t('.back', :default => t("helpers.links.back")),
                    solicitacoes_path, :class => 'btn botao btn-sm btn-block'  %>
    </div><!-- div botao back -->
    <div><%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_solicitacao_path(@solicitacao), :class => 'btn botao btn-sm btn-block' %>
    </div><!-- div botao edit -->
    <div><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    solicitacao_path(@solicitacao),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn botaoApaga btn-sm btn-block' %>
    </div>
  </div> <!-- div quadrobotoes -->
    
  <div class="row box-show col-sm-10">
    <dl class="dl-horizontal">
      <dt><%= model_class_solicitacao.human_attribute_name(:empresa_id) %></dt>
      <dd><%= @solicitacao.empresa.razao %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:data_solicitacao)%></dt>
      <dd><%= @solicitacao.data_solicitacao %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:solicitante)%></dt>     
      <dd><%= @solicitacao.solicitante %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:analista)%></dt>      
      <dd><%= @solicitacao.analista %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:servico)%></dt>      
      <dd><%= @solicitacao.servico %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:banda)%></dt>    
      <dd><%= @solicitacao.banda %></dd>  
      <dt><%= model_class_solicitacao.human_attribute_name(:endereco_a) %></dt>      
      <dd><%= @solicitacao.endereco_a %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:uf_a) %></dt>
      <dd><%= @solicitacao.uf_a %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:localidade_a) %></dt>      
      <dd><%= @solicitacao.localidade_a %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:endereco_b) %></dt>
      <dd><%= @solicitacao.endereco_b %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:uf_b) %></dt>
      <dd><%= @solicitacao.uf_b %></dd>
      <dt><%= model_class_solicitacao.human_attribute_name(:localidade_b) %></dt>     
      <dd><%= @solicitacao.localidade_b %></dd>
    </dl>
  </div><!-- div quadroDados -->
</div><!-- quadro tudo -->
<div class="quadroRespostas">
  <div><h1 class="list-group-item-success" sytle="clear: both;"><center>Análise Viabilidade</center></h1></div>
  <div class='container ' style='padding: 0px;' >
    <div class="row">
      <strong>
        <div class='col-sm-1 campoTipo' >Tipo</div>        
        <div class='col-sm-1 campoEstrutura'>Estrutura</div> 
        <div class='col-sm-4 campoDescricao'>Descrição</div>        
        <div class='col-sm-1 campoPrazo'>Prazo</div>
        <div class='col-sm-1 campoCapex'>Capex</div> 
        <div class='col-sm-1 campoOpexInstalacao'>Opex Inst</div> 
        <div class='col-sm-1 campoOpexMensal'>Opex Mês</div>
        <div class='col-sm-1 campoVt'>Resultado</div>             
        <div class='col-sm-1 campoApaga'>Ação</div>
      </strong>
    </div><!-- row -->
    <hr class="linha ">
    <div id="respostas">
      <% @solicitacao.respostas.each  do |respostas_fields| %>
        <%= render partial: "resposta_fields", locals: { r: respostas_fields } %>
      <% end %>
      <center>
      </center>
    </div><!-- respostas -->
  </div><!--/container-->
</div> <!-- quadro respostas -->

