<%= form_for(equipamento) do |f| %>
  <% if equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h2>

      <ul>
      <% equipamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :designacao %>
    <%= f.text_field :designacao %>
  </div>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :enderecamento %>
    <%= f.text_field :enderecamento %>
  </div>

  <div class="field">
    <%= f.label :firmware %>
    <%= f.text_field :firmware %>
  </div>

  <div class="field">
    <%= f.label :estacao_id %>
    <%= f.text_field :estacao_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :arco %>
    <%= f.text_field :arco %>
  </div>

  <div class="field">
    <%= f.label :cluster %>
    <%= f.text_field :cluster %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
