<%- model_class = Equipamento -%>
<div class="box-show">
  <div class="list-group">
    <h1 class="list-group-item-heading list-group-item-info">
          <center><%=t '.title', :default => model_class.model_name.human.titleize %></center>
    </h1>
  </div> <!-- list-group-->
  
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:designacao) %>:</strong></dt>
    <dd><%= @equipamento.designacao %></dd>
    <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
    <dd><%= @equipamento.descricao %></dd>
    <dt><strong><%= model_class.human_attribute_name(:tipo) %>:</strong></dt>
    <dd><%= @equipamento.tipo %></dd>
    <dt><strong><%= model_class.human_attribute_name(:enderecamento) %>:</strong></dt>
    <dd><%= @equipamento.enderecamento %></dd>
    <dt><strong><%= model_class.human_attribute_name(:firmware) %>:</strong></dt>
    <dd><%= @equipamento.firmware %></dd>
    <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= @equipamento.status %></dd>
    <dt><strong><%= model_class.human_attribute_name(:arco) %>:</strong></dt>
    <dd><%= @equipamento.arco %></dd>
    <dt><strong><%= model_class.human_attribute_name(:cluster) %>:</strong></dt>
    <dd><%= @equipamento.cluster %></dd>
    <dt><strong><%= model_class.human_attribute_name(:estacao_id) %>:</strong></dt>
    <dd><%= @equipamento.estacao.pop %> - <%= @equipamento.estacao.nome  %></dd>
  </dl>
  </div><!-- div container -->
<div class="box-show">
  <center>
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    equipamentos_path, :class => 'btn botao btn-sm'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_equipamento_path(@equipamento), :class => 'btn botao btn-sm ' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    equipamento_path(@equipamento),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn botaoApaga btn-sm ' %> 
  </center>
</div>