<% statusEquipamento = ["Operação", "Implantação", "Projeto", "TI"] %>
<% tipoEquipamento = ["Não Informado","RNP","Estação Atend Remoto",
                      "Estação POP do Cliente", "Estação Satélite",
                      "Ponto de Presença", "Ponto Metropolitano",
                      "Repetidora Rádio", "Terminal Cliente"] %>

<%= form_for @equipamento, :html => { :class => "form-horizontal equipamento" } do |f| %>

  <% if @equipamento.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @equipamento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class= "container">
  <div class= "row">
    <div class="form-group">
      <%= f.label :designacao, :class => 'control-label col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :designacao, :class => 'form-control' %>
      </div>
    </div>
    <%#f.error_span(:designacao) %>
  </div><!--/row-->

  <div class= "row">
    <div class="form-group">
      <%= f.label :descricao, :class => 'control-label col-md-2' %>
      <div class="col-md-6">
        <%= f.text_field :descricao, :class => 'form-control' %>
      </div>
    </div>
    <%#f.error_span(:descricao) %>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :tipoEquipamento, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <%= f.select(:tipoEquipamento, Equipamento.tipoEquipamento.map { |key, value| [key.humanize, key]}, {include_blank: false}, :class => 'form-control') %>
      </div>
      <%#f.error_span(:tipo) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :enderecamento, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <%= f.text_field :enderecamento, :class => 'form-control' %>
      </div>
      <%#f.error_span(:enderecamento) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :firmware, :class => 'control-label col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :firmware, :class => 'form-control' %>
      </div>
      <%#f.error_span(:firmware) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :statusEquipamento, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <%= f.select(:statusEquipamento, @statusEquipamentos, {include_blank: false}, :class => 'form-control') %>
      </div>
      <%#f.error_span(:status) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :estacao_id, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <!--<%= f.text_field :estacao_id, :class => 'form-control' %>-->
        <%= f.collection_select(:estacao_id, Estacao.all, :id, :pop, {include_blank: true},  :class => 'form-control') %>
      </div>
      <%#f.error_span(:estacao_id) %>
    </div>
  </div><!--/row-->
</div><!--/container-->

<div class="row">
  <div class="form-group centro">
    <div class="col-md-offset-1 col-md-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                equipamentos_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div><!--/row-->
<% end %>
