<% status_equipamento = ["Operação", "Implantação", "Projeto", "TI"] %>
<% tipo_equipamento = ["Ponto de Presença"] %>

<%= form_for @equipamento, :html => { :class => "form-horizontal equipamento" } do |f| %>

  <% if @equipamento.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @equipamento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class= "container">
  <div class= "row">
    <div class="form-group">
      <%= f.label :designacao, :class => 'control-label col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :designacao, :class => 'form-control' %>
      </div>
    </div>
    <%=f.error_span(:designacao) %>
  </div><!--/row-->

  <div class= "row">
    <div class="form-group">
      <%= f.label :descricao, :class => 'control-label col-md-2' %>
      <div class="col-md-6">
        <%= f.text_field :descricao, :class => 'form-control' %>
      </div>
    </div>
    <%=f.error_span(:descricao) %>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :tipo, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <%= f.select(:tipo, tipo_equipamento, {include_blank: false}, :class => 'form-control') %>
      </div>
      <%=f.error_span(:tipo) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :enderecamento, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <%= f.text_field :enderecamento, :class => 'form-control' %>
      </div>
      <%=f.error_span(:enderecamento) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :firmware, :class => 'control-label col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :firmware, :class => 'form-control' %>
      </div>
      <%=f.error_span(:firmware) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :status, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <%= f.select(:status, status_equipamento, {include_blank: false}, :class => 'form-control') %>
      </div>
      <%=f.error_span(:status) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :arco, :class => 'control-label col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :arco, :class => 'form-control' %>
      </div>
      <%=f.error_span(:arco) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :cluster, :class => 'control-label col-md-2' %>
      <div class="col-md-2">
        <%= f.text_field :cluster, :class => 'form-control' %>
      </div>
      <%=f.error_span(:cluster) %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="form-group">
      <%= f.label :estacao_id, :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <!--<%= f.text_field :estacao_id, :class => 'form-control' %>-->
        <%= f.collection_select(:estacao_id, Estacao.all, :id, :pop, {include_blank: true},  :class => 'form-control') %>
      </div>
      <%=f.error_span(:estacao_id) %>
    </div>
  </div><!--/row-->
</div><!--/container-->

<div class="row">
  <div class="form-group">
    <div class="col-md-offset-1 col-md-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backoffice_equipamentos_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div><!--/row-->
<% end %>
