<%= form_for @justificativa, :html => { :class => "form-horizontal justificativa" } do |f| %>

  <% if @justificativa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@justificativa.errors.count, "error") %> prohibited this justificativa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @justificativa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :cod_justificativa, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cod_justificativa, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cod_justificativa) %>
  </div>
  <div class="form-group">
    <%= f.label :tipo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :tipo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tipo) %>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                backoffice_justificativas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
