<%- model_class = Justificativa -%>
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <!-- codigo da pagina -->
        <div class="list-group">
          <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
            <center><%=t '.title', :default => model_class.model_name.human(count: @justificativas.count).titleize %></center>
          </h1>
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <table class="table table-striped" id="justificativas">
              <thead>
                <tr>
                  <th><%= model_class.human_attribute_name(:nome) %></th>
                  <th><%= model_class.human_attribute_name(:cod_justificativa) %></th>
                  <th><%= model_class.human_attribute_name(:tipo) %></th>
                </tr>
              </thead>
              <tbody>
                <% @justificativas.each do |justificativa| %>
                <tr>
                <td><%= link_to justificativa.nome, justificativa_path(justificativa), :title => "Detalhar/Editar" %></td>
                  <td><%= justificativa.cod_justificativa %></td>
                  <td><%= justificativa.tipo %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- div tabela-->
          <div class="col-md-3"></div>
        </div><!-- /div row -->
        <center>
          <%= link_to t('.new', :default => t("helpers.links.new")),
          new_justificativa_path,
          :class => 'btn botao btn-sm' %>
        </center>
        <!--/ codigo da pagina -->

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- / #page-wrapper -->
<!-- / #wrapper <-->

