<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<%- model_class = Analista -%>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="row" >
      <div class="col-lg-12">
      <!-- codigo da pagina -->
      <div class="list-group">
        <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
          <center><%=t '.title', :default => model_class.model_name.human(count: @analistas.count).titleize %></center>
        </h1>
      </div>

      <table id="analistas" class="table display" >
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th><%= model_class.human_attribute_name(:email) %></th>
            <th><%= model_class.human_attribute_name(:regional_id) %></th>
            <th>Contato</th>
            <th><%= model_class.human_attribute_name(:funcao) %></th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <% @analistas.each do |analista| %>
          <tr>
            <td><%= link_to analista.nome, analista_path(analista), :title => "Detalhar/Editar" %></td>
            <td><%= analista.email %></td>
            <td><%= analista.regional.nome %></td>
            <td><%= analista.fone_contato %></td>
            <td><%= analista.funcao %></td>
            <td style="width: 80px;">
              <button type='button' class='btn btn-info btn-circle' style="border-radius: 15px; padding: 0px;" title="editar">
                <i class='fa fa-check'></i>
              </button>
              <button type='button' class='btn btn-danger btn-circle' style="border-radius: 15px; padding: 0px;" title="Apagar">
                <i class='fa fa-times'></i>
              </button>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= link_to t('.new', :default => t("helpers.links.new")) ,
        new_analista_path,
        :class => 'btn botao btn-sm' %>
      </center>
    </div>
  </div>
  <!--/ codigo da pagina -->
</div>

<!-- / #page-wrapper -->
<!-- / #wrapper <-->
