<%= form_for @localidade, :html => { :class => "form-horizontal localidade" } do |f| %>

  <% if @localidade.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@localidade.errors.count, "error") %> prohibited this localidade from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @localidade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :uf_id, :class => 'control-label col-md-2' %>
    <div class="col-md-1">
      <%= f.collection_select(:uf_id, Uf.all, :id, :sigla, include_blank: true) %>
    </div>
    <%#f.error_span(:uf_id) %>
  </div>
  <div class="form-group">
    <%= f.label :localidade, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :localidade, :class => 'form-control' %>
    </div>
    <%#f.error_span(:localidade) %>
  </div>
  <div class="form-group">
    <%= f.label :municipio, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :municipio, :class => 'form-control' %>
    </div>
    <%#f.error_span(:municipio) %>
  </div>
  <div class="form-group">
    <%= f.label :sigla_cnl, :class => 'control-label col-md-2' %>
    <div class="col-md-1">
      <%= f.text_field :sigla_cnl, :class => 'form-control' %>
    </div>
    <%#f.error_span(:sigla_cnl) %>
  </div>
  <div class="form-group">
    <%= f.label :cod_cnl, :class => 'control-label col-md-2' %>
    <div class="col-md-1">
      <%= f.text_field :cod_cnl, :class => 'form-control' %>
    </div>
    <%#f.error_span(:cod_cnl) %>
  </div>
  <div class="form-group">
    <%= f.label :latitude, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :latitude, :class => 'form-control' %>
      <!--<%= f.number_field :latitude, :value => number_with_precision(f.object.latitude.to_f, locale: 'pt-BR'), :step => :any %>-->
    </div>
    <%#f.error_span(:latitude) %>
  </div>
  <div class="form-group">
    <%= f.label :longitude, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :longitude, :class => 'form-control' %>
      <!--<%= f.number_field :longitude, :value => number_with_precision(f.object.longitude.to_f, locale: 'pt-BR'), :step => :any %>-->
    </div>
    <%#f.error_span(:longitude) %>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      localidades_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
