<%- model_class = Localidade -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:uf_id) %></th>
      <th><%= model_class.human_attribute_name(:localidade) %></th>
      <th><%= model_class.human_attribute_name(:municipio) %></th>
      <th><%= model_class.human_attribute_name(:sigla_cnl) %></th>
      <th><%= model_class.human_attribute_name(:cod_cnl) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @localidades.each do |localidade| %>
      <tr>
        <td><%= localidade.uf.sigla %></td>
        <td><%= localidade.localidade %></td>
        <td><%= localidade.municipio %></td>
        <td><%= localidade.sigla_cnl %></td>
        <td><%= localidade.cod_cnl %></td>
        <td><%= number_with_precision(localidade.latitude,  precision: 10, separator: ',' , locale: 'pt-BR') %></td>
        <td><%= number_with_precision(localidade.longitude, precision: 10, separator: ',' , locale: 'pt-BR' ) %></td>

        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                      localidade_path(localidade), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_localidade_path(localidade), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      localidade_path(localidade),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_localidade_path,
            :class => 'btn btn-primary' %>
