<p id="notice"><%= notice %></p>

<h1>Localidades</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>UF</th>
      <th>Código Localidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localidades.each do |localidade| %>
      <tr>
        <td><%= localidade.nome %></td>
        <td><%= localidade.uf %></td>
        <td><%= localidade.cod_localidade %></td>
        <td><%= link_to 'Mostrar', localidade %></td>
        <td><%= link_to 'Editar', edit_localidade_path(localidade) %></td>
        <td><%= link_to 'Apagar', localidade, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova Localidade', new_localidade_path %>
