<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @localidade.nome %>
</p>

<p>
  <strong>UF:</strong>
  <%= @localidade.uf %>
</p>

<p>
  <strong>Código Localidade:</strong>
  <%= @localidade.cod_localidade %>
</p>

<%= link_to 'Editar', edit_localidade_path(@localidade) %> |
<%= link_to 'Voltar', localidades_path %>
