<p id="notice"><%= notice %></p>

<h1>Servicos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.codigo %></td>
        <td><%= link_to 'Mostrar', servico %></td>
        <td><%= link_to 'Editar', edit_servico_path(servico) %></td>
        <td><%= link_to 'Apagar', servico, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Serviço', new_servico_path %>
