<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @servico.nome %>
</p>

<p>
  <strong>Código:</strong>
  <%= @servico.codigo %>
</p>

<%= link_to 'Editar', edit_servico_path(@servico) %> |
<%= link_to 'Voltar', servicos_path %>
