<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
<%= stylesheet_link_tag "#{params[:controller]}" %>
<%= javascript_include_tag "#{params[:controller]}" %>
<% end %>

<%- model_class = Uf-%>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <!-- codigo da pagina -->
        <div class="list-group">
          <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
            <center><%=t '.title', :default => model_class.model_name.human(count: @uf.count).titleize.upcase %></center>
          </h1>
        </div>
        <dir class="col-lg-2"></dir>
        <dir class="col-lg-8">
          <table id="uf" class="table display" >
            <thead>
              <tr>
                <th class="text-center"> <%=  model_class.human_attribute_name (:sigla) %></th>
                <th class="text-center"> <%=  model_class.human_attribute_name (:nome) %></th>
              </tr>
            </thead>
            <tbody>
              <% @uf.each do |uf| %>
              <tr>
                <td class="text-center"><%= link_to uf.sigla, uf_path(uf), :title => "Detalhar/Editar" %></td>
                <td class="text-center"><%= uf.nome %></td>
              </tr>
              <% end %>
            </tbody>
          </table> <!-- Tabela -->
        </div>
        <dir class="col-lg-2"></dir>
        <center>
          <%= link_to t('.new', :default => t("helpers.links.new")),
          new_uf_path,
          :class => 'btn botao btn-sm' %>
        </center>
        <!--/ codigo da pagina -->

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
