<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<%- model_class = Circuito -%>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="row" style="margin-right: -120px">
      <div class="col-lg-12">
      <!-- codigo da pagina -->
      <div class="list-group">
        <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
          <center><%=t '.title', :default => model_class.model_name.human(count: @circuitos.count).titleize %></center>
        </h1>
      </div>

      <table class="table table-striped table-bordered table-condensed" id="tabela">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:descricao) %></th>
            <th><%= model_class.human_attribute_name(:servico) %></th>
            <th><%= model_class.human_attribute_name(:status) %></th>
            <th><%= model_class.human_attribute_name(:roteamento) %></th>
            <th><%= model_class.human_attribute_name(:asn) %></th>
            <th><%= model_class.human_attribute_name(:bandaContratada) %></th>
            <th><%= model_class.human_attribute_name(:bandaAtivada) %></th>
            <th><%= model_class.human_attribute_name(:bandaAtivacao) %></th>
            <th><%= model_class.human_attribute_name(:contrato) %></th>
            <th><%= model_class.human_attribute_name(:empresa) %></th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <% @circuitos.each do |circuito| %>
          <tr>
            <td><%= link_to circuito.designacao, circuito_path(circuito), :title => "Detalhar/Editar" %></td>
            <td><%= circuito.descricao %></td>
            <td><%= circuito.servico %></td>
            <td><%= circuito.status %></td>
            <td><%= circuito.roteamento %></td>
            <td><%= circuito.asn %></td>
            <td><%= circuito.bandaContratada %></td>
            <td><%= circuito.bandaAtivada %></td>
            <td><%= circuito.dataAtivacao %></td>
            <td><%= circuito.contrato %></td>
            <td><%= circuito.sap %></td>
            <td><%= circuito.empresa %></td>
            <td style="width: 80px;">
              <button type='button' class='btn btn-info btn-circle' style="border-radius: 15px; padding: 0px;" title="editar">
                <i class='fa fa-check'></i>
              </button>
              <button type='button' class='btn btn-danger btn-circle' style="border-radius: 15px; padding: 0px;" title="Apagar">
                <i class='fa fa-times'></i>
              </button>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <center>
        <%= link_to t('.new', :default => t("helpers.links.new")) ,
        new_circuito_path,
        :class => 'btn botao btn-sm' %>
      </center>
    </div>
  </div>
  <!--/ codigo da pagina -->
</div>

<!-- / #page-wrapper -->
<!-- / #wrapper <-->
