<%= form_for @vt, :html => { :class => "form-horizontal vt" } do |f| %>

  <% if @vt.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@vt.errors.count, "error") %> prohibited this vt from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @vt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :vt_numero, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :vt_numero, :class => 'form-control' %>
    </div>
    <%=f.error_span(:vt_numero) %>
  </div>
  <div class="form-group">
    <%= f.label :empresa_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:empresa_id, Empresa.all, :id, :nome, include_blank: true) %>
    </div>
    <%=f.error_span(:empresa_id) %>
  </div>
  <div class="form-group">
    <%= f.label :data_solicitacao, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :data_solicitacao, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_solicitacao) %>
  </div>
  <div class="form-group">
    <%= f.label :solicitante, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :solicitante, :class => 'form-control' %>
    </div>
    <%=f.error_span(:solicitante) %>
  </div>
  <div class="form-group">
    <%= f.label :analista, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :analista, :class => 'form-control' %>
    </div>
    <%=f.error_span(:analista) %>
  </div>
  <div class="form-group">
    <%= f.label :servico, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :servico, :class => 'form-control' %>
    </div>
    <%=f.error_span(:servico) %>
  </div>
  <div class="form-group">
    <%= f.label :uf_origem, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :uf_origem, :class => 'form-control' %>
    </div>
    <%=f.error_span(:uf_origem) %>
  </div>
  <div class="form-group">
    <%= f.label :origem, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :origem, :class => 'form-control' %>
    </div>
    <%=f.error_span(:origem) %>
  </div>
  <div class="form-group">
    <%= f.label :uf_destino, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :uf_destino, :class => 'form-control' %>
    </div>
    <%=f.error_span(:uf_destino) %>
  </div>
  <div class="form-group">
    <%= f.label :destino, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :destino, :class => 'form-control' %>
    </div>
    <%=f.error_span(:destino) %>
  </div>
  <div class="form-group">
    <%= f.label :popa, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :popa, :class => 'form-control' %>
    </div>
    <%=f.error_span(:popa) %>
  </div>
  <div class="form-group">
    <%= f.label :popb, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :popb, :class => 'form-control' %>
    </div>
    <%=f.error_span(:popb) %>
  </div>
  <div class="form-group">
    <%= f.label :resultado_vt, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :resultado_vt, :class => 'form-control' %>
    </div>
    <%=f.error_span(:resultado_vt) %>
  </div>
  <div class="form-group">
    <%= f.label :justificativa_vt, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :justificativa_vt, :class => 'form-control' %>
    </div>
    <%=f.error_span(:justificativa_vt) %>
  </div>
  <div class="form-group">
    <%= f.label :data_resultado, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :data_resultado, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_resultado) %>
  </div>
  <div class="form-group">
    <%= f.label :comentario, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :comentario, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comentario) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vt_index_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
