<p id="notice"><%= notice %></p>

<h1>Vt</h1>

<table>
  <thead>
    <tr>
      <th>Número VT</th>
      <th>Cliente</th>
      <th>Data Solicitação</th>
      <th>Solicitante</th>
      <th>Analista</th>
      <th>Serviço</th>
      <th>UF Origem</th>
      <th>Origem</th>
      <th>UF Destino</th>
      <th>Destino</th>
      <th>POP A</th>
      <th>POP B</th>
      <th>Resultado vt</th>
      <th>Justificativa vt</th>
      <th>Data do Resultado</th>
      <th>Comentário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vt.each do |vt| %>
      <tr>
        <td><%= vt.vt_numero %></td>
        <td><%= vt.id_cliente %></td>
        <td><%= vt.data_solicitacao %></td>
        <td><%= vt.solicitante %></td>
        <td><%= vt.analista %></td>
        <td><%= vt.servico %></td>
        <td><%= vt.uf_origem %></td>
        <td><%= vt.origem %></td>
        <td><%= vt.uf_destino %></td>
        <td><%= vt.destino %></td>
        <td><%= vt.popa %></td>
        <td><%= vt.popb %></td>
        <td><%= vt.resultado_vt %></td>
        <td><%= vt.justificativa_vt %></td>
        <td><%= vt.data_resultado %></td>
        <td><%= vt.comentario %></td>
        <td><%= link_to 'Mostrar', vt %></td>
        <td><%= link_to 'Editar', edit_vt_path(vt) %></td>
        <td><%= link_to 'Apagar', vt, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Viabilidade', new_vt_path %>
