<%- model_class = Vt -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:vt_numero) %></th>
      <th><%= model_class.human_attribute_name(:id_cliente) %></th>
      <th><%= model_class.human_attribute_name(:data_solicitacao) %></th>
      <th><%= model_class.human_attribute_name(:solicitante) %></th>
      <th><%= model_class.human_attribute_name(:analista) %></th>
      <th><%= model_class.human_attribute_name(:servico) %></th>
      <th><%= model_class.human_attribute_name(:uf_origem) %></th>
      <th><%= model_class.human_attribute_name(:origem) %></th>
      <th><%= model_class.human_attribute_name(:uf_destino) %></th>
      <th><%= model_class.human_attribute_name(:destino) %></th>
      <th><%= model_class.human_attribute_name(:popa) %></th>
      <th><%= model_class.human_attribute_name(:popb) %></th>
      <th><%= model_class.human_attribute_name(:resultado_vt) %></th>
      <th><%= model_class.human_attribute_name(:justificativa_vt) %></th>
      <th><%= model_class.human_attribute_name(:data_resultado) %></th>
      <th><%= model_class.human_attribute_name(:comentario) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vt.each do |vt| %>
      <tr>
        <!--<td><%= link_to vt.id, vt_path(vt) %></td>-->
        <td><%= vt.vt_numero %></td>
        <td><%= vt.empresa_id %></td>
        <td><%= vt.data_solicitacao %></td>
        <td><%= vt.solicitante %></td>
        <td><%= vt.analista %></td>
        <td><%= vt.servico %></td>
        <td><%= vt.uf_origem %></td>
        <td><%= vt.origem %></td>
        <td><%= vt.uf_destino %></td>
        <td><%= vt.destino %></td>
        <td><%= vt.popa %></td>
        <td><%= vt.popb %></td>
        <td><%= vt.resultado_vt %></td>
        <td><%= vt.justificativa_vt %></td>
        <td><%= vt.data_resultado %></td>
        <td><%= vt.comentario %></td>
        <!--<td><%=l vt.created_at %></td>-->
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      vt_path(vt), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vt_path(vt), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vt_path(vt),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vt_path,
            :class => 'btn btn-primary' %>
