<p id="notice"><%= notice %></p>

<p>
  <strong>Vt numero:</strong>
  <%= @vt.vt_numero %>
</p>

<p>
  <strong>Id cliente:</strong>
  <%= @vt.id_cliente %>
</p>

<p>
  <strong>Data solicitacao:</strong>
  <%= @vt.data_solicitacao %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @vt.solicitante %>
</p>

<p>
  <strong>Analista:</strong>
  <%= @vt.analista %>
</p>

<p>
  <strong>Servico:</strong>
  <%= @vt.servico %>
</p>

<p>
  <strong>Uf origem:</strong>
  <%= @vt.uf_origem %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @vt.origem %>
</p>

<p>
  <strong>Uf destino:</strong>
  <%= @vt.uf_destino %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @vt.destino %>
</p>

<p>
  <strong>Popa:</strong>
  <%= @vt.popa %>
</p>

<p>
  <strong>Popb:</strong>
  <%= @vt.popb %>
</p>

<p>
  <strong>Resultado vt:</strong>
  <%= @vt.resultado_vt %>
</p>

<p>
  <strong>Justificativa vt:</strong>
  <%= @vt.justificativa_vt %>
</p>

<p>
  <strong>Data resultado:</strong>
  <%= @vt.data_resultado %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @vt.comentario %>
</p>

<%= link_to 'Edit', edit_vt_path(@vt) %> |
<%= link_to 'Back', vt_index_path %>
