<%- model_class = Vt -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:vt_numero) %>:</strong></dt>
  <dd><%= @vt.vt_numero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:id_cliente) %>:</strong></dt>
  <dd><%= @vt.id_cliente %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_solicitacao) %>:</strong></dt>
  <dd><%= @vt.data_solicitacao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:solicitante) %>:</strong></dt>
  <dd><%= @vt.solicitante %></dd>
  <dt><strong><%= model_class.human_attribute_name(:analista) %>:</strong></dt>
  <dd><%= @vt.analista %></dd>
  <dt><strong><%= model_class.human_attribute_name(:servico) %>:</strong></dt>
  <dd><%= @vt.servico %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uf_origem) %>:</strong></dt>
  <dd><%= @vt.uf_origem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:origem) %>:</strong></dt>
  <dd><%= @vt.origem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uf_destino) %>:</strong></dt>
  <dd><%= @vt.uf_destino %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destino) %>:</strong></dt>
  <dd><%= @vt.destino %></dd>
  <dt><strong><%= model_class.human_attribute_name(:popa) %>:</strong></dt>
  <dd><%= @vt.popa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:popb) %>:</strong></dt>
  <dd><%= @vt.popb %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resultado_vt) %>:</strong></dt>
  <dd><%= @vt.resultado_vt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:justificativa_vt) %>:</strong></dt>
  <dd><%= @vt.justificativa_vt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_resultado) %>:</strong></dt>
  <dd><%= @vt.data_resultado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comentario) %>:</strong></dt>
  <dd><%= @vt.comentario %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              vt_index_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vt_path(@vt), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vt_path(@vt),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
