<p id="notice"><%= notice %></p>

<p>
  <strong>Número da Viabilidade:</strong>
  <%= @vt.vt_numero %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @vt.id_cliente %>
</p>

<p>
  <strong>Data solicitacao:</strong>
  <%= @vt.data_solicitacao %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @vt.solicitante %>
</p>

<p>
  <strong>Analista:</strong>
  <%= @vt.analista %>
</p>

<p>
  <strong>Serviço:</strong>
  <%= @vt.servico %>
</p>

<p>
  <strong>UF Origem:</strong>
  <%= @vt.uf_origem %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @vt.origem %>
</p>

<p>
  <strong>UF Destino:</strong>
  <%= @vt.uf_destino %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @vt.destino %>
</p>

<p>
  <strong>POP A:</strong>
  <%= @vt.popa %>
</p>

<p>
  <strong>POP B:</strong>
  <%= @vt.popb %>
</p>

<p>
  <strong>Resultado Viabilidade:</strong>
  <%= @vt.resultado_vt %>
</p>

<p>
  <strong>Justificativa Viabilidade:</strong>
  <%= @vt.justificativa_vt %>
</p>

<p>
  <strong>Data Resultado:</strong>
  <%= @vt.data_resultado %>
</p>

<p>
  <strong>Comentário:</strong>
  <%= @vt.comentario %>
</p>

<%= link_to 'Editar', edit_vt_path(@vt) %> |
<%= link_to 'Voltar', vt_index_path %>
