<%= form_for(estacao) do |f| %>
  <% if estacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estacao.errors.count, "error") %> prohibited this estacao from being saved:</h2>

      <ul>
      <% estacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container">
  <div class="row">
    <div class="field col-sm-3">
      <%= f.label :pop %>
      <%= f.text_field :pop %>
    </div>
  
    <div class="field col-sm-9">
      <%= f.label :nome %>
      <%= f.text_field :nome %>
    </div>
  </div>
  <div class="row">
    <div class="field col-sm-6">
      <%= f.label :endereco %>
      <%= f.text_field :endereco %>
    </div>
  
    <div class="field col-sm-3">
      <%= f.label :cidade %>
      <%= f.text_field :cidade %>
    </div>
  
    <div class="field col-sm-3">
      <%= f.label :uf %>
      <%= f.text_field :uf %>
    </div>
  </div>
  <div class="row">
    <div class="field col-sm-3">
      <%= f.label :tipo %>
      <!--<%= f.text_field :tipo %>-->
      <%= f.select(:tipo, 
            ["TELEBRAS", 
            "Pop do Cliente", 
            "Ponto Metropolitano",
            "Centro de Manutenção",
            "Interconexao Óptica",
            "Outros"], 
            {include_blank: false}) 
      %>
    </div>
  
    <div class="field col-sm-3">
      <%= f.label :cedente %>
      <%= f.text_field :cedente %>
    </div>
  
    <div class="field col-sm-3">
      <%= f.label :latitude %>
      <%= f.text_field :latitude %>
    </div>
  
    <div class="field col-sm-3">
      <%= f.label :longitude %>
      <%= f.text_field :longitude %>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
