<p id="notice"><%= notice %></p>

<p>
  <strong>Pop:</strong>
  <%= @estacao.pop %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @estacao.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @estacao.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @estacao.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @estacao.uf %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @estacao.tipo %>
</p>

<p>
  <strong>Cedente:</strong>
  <%= @estacao.cedente %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @estacao.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @estacao.longitude %>
</p>

<%= link_to 'Edit', edit_estacao_path(@estacao) %> |
<%= link_to 'Back', estacoes_path %>
