<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->

<% content_for :head do %>
  <%= javascript_include_tag 'welcome' %>
  <%= stylesheet_link_tag 'welcome' %>
<% end %>

<h1><center>Análise de Viabilidade Técnica</center></h1>
<div><center>
  <table>
    <tr><td><%= link_to "Cadastro de Viabilidades", solicitacoes_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Estações", estacoes_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Equipamentos", equipamentos_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Justificativas", justificativas_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Localidades", localidades_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Serviços", servicos_path %></td></tr>
    <tr><td><%= link_to "Cadastro de UF", uf_index_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Analistas", analistas_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Regionais", regionais_path %></td></tr>
    <tr><td><%= link_to "Cadastro de Empresas", empresas_path %></td></tr>
  </table></center>
</div>
