<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<%- model_class = Admin -%>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="row" >
      <div class="col-lg-12">
      <!-- codigo da pagina -->
      <div class="list-group">
        <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
          <center>Administradores</center>
        </h1>
      </div>
    </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <table class="table table-striped table-bordered col-lg-6" id="admins">
            <thead>
              <tr>
                <th class="centro"><%= '#' %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
                <th><%= model_class.human_attribute_name(:nome) %></th>
                <th><%= model_class.human_attribute_name(:regra) %></th>
                <th style="width: 60px;">Ação</th>
              </tr>
            </thead>
            <tbody>
              <% @admins.each do |admin| %>
              <tr>
                <td class="centro"><%= admin.id %></td>
                <td><%= link_to admin.email, edit_admin_path(admin), :title => "Detalhar/Editar" %></td>
                <td class="centro"><%= admin.nome %></td>
                <td class="centro"><%= admin.regra %></td>
                <%# if current_admin.id != admin.id %>
                  <td class="centro"><%= link_to admin_path(admin),
                          method: 'delete',
                          data: { confirm: "Você deseja excluir (<b>#{admin.email}</b>)?"},
                          class: 'btn btn-danger btn-circle',
                          title: 'Excluir' do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                <%# else %>
                  <!-- <td class="centro"><%#= link_to '#',
                          disabled: 'disabled',
                          class: 'btn btn-danger btn-circle',
                          title: 'Excluir' do %>
                      <i class="fa fa-times"></i> -->
                    <%# end %>
                  <%# end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-lg-2"></div>
      </div>
        <center>
          <%= link_to t('.new', :default => t("helpers.links.new")),
          new_admin_path,
          :class => 'btn botao btn-sm' %>
        </center>

  </div>
  <!--/ codigo da pagina -->
</div>

<!-- / #page-wrapper -->
<!-- / #wrapper <-->


