<div class="nested-fields">
  <div class="form-inline list-group-item" style="margin-top: 10px">
    <div class="row" style="margin-top: 10px">
      <%= f.label :nome, class: 'control-label col-md-1' %>
      <%= f.text_field :nome, size: 40, class: 'form-control col-md-3 ' %>
      <%= f.label :telefone, class: 'control-label col-md-1' %>
      <%= f.text_field :telefone,  size: 15, class: 'form-control col-md-2' %>
      <div class="centro">
        <%= link_to_remove_association ' Apaga', f, class: 'btn btn-danger fa fa-trash-o centro', title: 'Apaga' %>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= f.label :email, class: 'control-label col-md-1'%>
      <%= f.text_field :email, size: 40, class: 'form-control col-md-10 ' %>
    </div>
    <div class="row" style="margin-top: 10px">
      <%= f.label :obs, class: 'control-label col-md-1' %>
      <%= f.text_field :obs,  size: 100, class: 'form-control col-md-10' %>
    </div>
  </div>
</div>
