<p id="notice"><%= notice %></p>

<h1>Pop</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Designação</th>
      <th>Detentor</th>
      <th>UF</th>
      <th>Código Localidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pop.each do |pop| %>
      <tr>
        <td><%= pop.nome %></td>
        <td><%= pop.designacao %></td>
        <td><%= pop.detentor %></td>
        <td><%= pop.uf %></td>
        <td><%= pop.cod_localidade %></td>
        <td><%= link_to 'Mostrar', pop %></td>
        <td><%= link_to 'Editar', edit_pop_path(pop) %></td>
        <td><%= link_to 'Apagar', pop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novo POP', new_pop_path %>
