<%- model_class = Justificativa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:cod_justificativa) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
    </tr>
  </thead>
  <tbody>
    <% @justificativas.each do |justificativa| %>
      <tr>
        <td><%= justificativa.nome %></td>
        <td><%= justificativa.cod_justificativa %></td>
        <td><%= justificativa.tipo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_justificativa_path,
            :class => 'btn btn-primary' %>
