<%- model_class = Justificativa -%>
<div class="elegant-aero" style="max-width: 500px; background: #C0E1FF">
  <div class="list-group">
    <h1 class="list-group-item-heading list-group-item-info">
          <center><%=t '.title', :default => model_class.model_name.human.titleize %></center>
    </h1>
  </div> <!-- list-group-->
  
  <dl class="dl-horizontal" style="background: #C0E1FF">
    <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
    <dd><%= @justificativa.nome %></dd>
    <dt><strong><%= model_class.human_attribute_name(:cod_justificativa) %>:</strong></dt>
    <dd><%= @justificativa.cod_justificativa %></dd>
    <dt><strong><%= model_class.human_attribute_name(:tipo) %>:</strong></dt>
    <dd><%= @justificativa.tipo %></dd>
  </dl>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              justificativas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_justificativa_path(@justificativa), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              justificativa_path(@justificativa),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
