<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @justificativa.nome %>
</p>

<p>
  <strong>Código Justificativa:</strong>
  <%= @justificativa.cod_justificativa %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @justificativa.tipo %>
</p>

<%= link_to 'Editar', edit_justificativa_path(@justificativa) %> |
<%= link_to 'Voltar', justificativas_path %>
