<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @justificativa.nome %>
</p>

<p>
  <strong>Cod justificativa:</strong>
  <%= @justificativa.cod_justificativa %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @justificativa.tipo %>
</p>

<%= link_to 'Edit', edit_justificativa_path(@justificativa) %> |
<%= link_to 'Back', justificativas_path %>
