<%= form_for(regional) do |f| %>
  <% if regional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regional.errors.count, "error") %> prohibited this regional from being saved:</h2>

      <ul>
      <% regional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo_regional %>
    <%= f.text_field :codigo_regional %>
  </div>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
