<p id="notice"><%= notice %></p>

<h1>Regionais</h1>

<table>
  <thead>
    <tr>
      <th>Código da Regional</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regionais.each do |regional| %>
      <tr>
        <td><%= regional.codigo_regional %></td>
        <td><%= regional.nome %></td>
        <td><%= link_to 'Mostrar', regional %></td>
        <td><%= link_to 'Editar', edit_regional_path(regional) %></td>
        <td><%= link_to 'Apagar', regional, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova Regional', new_regional_path %>
