<%- model_class = Regional -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:cod_regional) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
    </tr>
  </thead>
  <tbody>
    <% @regionais.each do |regional| %>
      <tr>
        <td><%= regional.cod_regional %></td>
        <td><%= regional.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_regional_path,
            :class => 'btn btn-primary' %>
