<%- model_class = Regional -%>

<div class="box-show">
  <div class="list-group">
    <h1 class="list-group-item-heading list-group-item-info" >
          <center><%=t '.title', :default => model_class.model_name.human.titleize %></center></h1>
  </div> <!-- list-group-->
         
  <dl class="dl-horizontal" >
    <dt><strong><%= model_class.human_attribute_name(:cod_regional) %>:</strong></dt>
    <dd><%= @regional.cod_regional %></dd>
    <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
    <dd><%= @regional.nome %></dd>
  </dl>
</div>

<div class="box-show">
  <center>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                  regionais_path, :class => 'btn botao btn-sm'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_regional_path(@regional), :class => 'btn botao btn-sm' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  regional_path(@regional),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn botaoApaga btn-sm' %>
  </center>
</div>