<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo da Regional:</strong>
  <%= @regional.codigo_regional %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @regional.nome %>
</p>

<%= link_to 'Editar', edit_regional_path(@regional) %> |
<%= link_to 'Voltar', regionais_path %>
