<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo regional:</strong>
  <%= @regional.codigo_regional %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @regional.nome %>
</p>

<%= link_to 'Edit', edit_regional_path(@regional) %> |
<%= link_to 'Back', regionais_path %>
