<p id="notice"><%= notice %></p>

<h1>Uf</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uf.each do |uf| %>
      <tr>
        <td><%= uf.nome %></td>
        <td><%= uf.sigla %></td>
        <td><%= link_to 'Show', uf %></td>
        <td><%= link_to 'Edit', edit_uf_path(uf) %></td>
        <td><%= link_to 'Destroy', uf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uf', new_uf_path %>
