<%- model_class = Uf -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th class="text-center"> <%= sortable "sigla" %></th>
      <th class="text-center"> <%= sortable "nome" %></th>
    </tr>
  </thead>
  <tbody>
    <% @uf.each do |uf| %>
      <tr>
        <td class="text-center"><%= uf.sigla %></td>
        <td class="text-center"><%= uf.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_uf_path,
            :class => 'btn btn-primary' %>
