<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @uf.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @uf.sigla %>
</p>

<%= link_to 'Editar', edit_uf_path(@uf) %> |
<%= link_to 'Voltar', uf_index_path %>
