<%= form_for @analista, :html => { :class => "form-horizontal analista" } do |f| %>

  <% if @analista.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@analista.errors.count, "error") %> prohibited this analista from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @analista.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nome) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :regional_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:regional_id, Regional.all, :id, :nome, include_blank: true) %>
    </div>
    <%=f.error_span(:regional_id) %>
  </div>
  <div class="form-group">
    <%= f.label :fone_contato, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :fone_contato, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fone_contato) %>
  </div>
  <div class="form-group">
    <%= f.label :funcao, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:funcao, ['Eng. Comercial','Gerente de Contas'], {include_blank: false}) %>
    </div>
    <%=f.error_span(:funcao) %>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                analistas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
