<%- model_class = Analista -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:regional_id) %></th>
      <th><%= model_class.human_attribute_name(:fone_contato) %></th>
      <th><%= model_class.human_attribute_name(:funcao) %></th>
    </tr>
  </thead>
  <tbody>
    <% @analistas.each do |analista| %>
      <tr>
        <td><%= analista.nome %></td>
        <td><%= analista.email %></td>
        <td><%= analista.regional.nome %></td>
        <td><%= analista.fone_contato %></td>
        <td><%= analista.funcao %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_analista_path,
            :class => 'btn btn-primary' %>
