<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<%- model_class = Analista -%>

<div class="list-group">
  <h1 class="list-group-item-heading list-group-item-info">
        <center><%=t '.title', :default => model_class.model_name.human(count: @analistas.count).titleize %></center>
  </h1>
</div>

<table class="table table-striped" id="analistas">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:regional_id) %></th>
      <th><%= model_class.human_attribute_name(:fone_contato) %></th>
      <th><%= model_class.human_attribute_name(:funcao) %></th>
    </tr>
  </thead>
  <tbody>
    <% @analistas.each do |analista| %>
      <tr>
        <td><%= link_to analista.nome, analista_path(analista), :title => "Detalhar/Editar" %></td>
        <td><%= analista.email %></td>
        <td><%= analista.regional.nome %></td>
        <td><%= analista.fone_contato %></td>
        <td><%= analista.funcao %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<center>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_analista_path,
              :class => 'btn botao btn-sm' %>
</center>