<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @analista.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @analista.email %>
</p>

<p>
  <strong>Id Regional:</strong>
  <%= @analista.id_regional %>
</p>

<p>
  <strong>Fone contato:</strong>
  <%= @analista.fone_contato %>
</p>

<p>
  <strong>Função:</strong>
  <%= @analista.funcao %>
</p>

<%= link_to 'Editar', edit_analista_path(@analista) %> |
<%= link_to 'Voltar', analistas_path %>
