<%- model_class = Analista -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @analista.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @analista.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regional_id) %>:</strong></dt>
  <dd><%= @analista.regional_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fone_contato) %>:</strong></dt>
  <dd><%= @analista.fone_contato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:funcao) %>:</strong></dt>
  <dd><%= @analista.funcao %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              analistas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_analista_path(@analista), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              analista_path(@analista),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
