
<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<%- model_class = Estacao -%>

<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <!-- codigo da pagina -->

        <div class="list-group">
          <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
            <center><%=t '.title', :default => model_class.model_name.human.titleize.pluralize %></center>
          </h1>
        </div>

        <div class="row">
          <table id="estacoes" class="table display"  data-source="<%= estacoes_url(format: "json")%>">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:pop) %></th>
                <th><%= model_class.human_attribute_name(:nome) %></th>
                <th><%= model_class.human_attribute_name(:cidade) %></th>
                <th><%= model_class.human_attribute_name(:tipoEquipamento) %></th>
                <th><%= model_class.human_attribute_name(:statusEstacao) %></th>
                <th><%= model_class.human_attribute_name(:cedente) %></th>
              </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>pop</th>
                  <th>nome</th>
                  <th>cidade</th>
                  <th>tipoEquipamento</th>
                  <th>statusEquipamento</th>
                  <th>cedente</th>
                </tr>
            </tfoot>
            <tbody>

            </tbody>
          </table>
        </div><!-- /div row -->
        <div>
          <center>
            <%= link_to t('.new', :default => t("helpers.links.new")),
            new_estacao_path,
            :class => 'btn botao ' %>
          </center>
        </div>
        <!--/ codigo da pagina -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- / #page-wrapper -->
<!-- / #wrapper <-->
