<p id="notice"><%= notice %></p>

<h1>Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Nome de Contato</th>
      <th>Telefone Cidadeontato</th>
      <th>CNPJ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.nome %></td>
        <td><%= empresa.endereco %></td>
        <td><%= empresa.cidade %></td>
        <td><%= empresa.uf %></td>
        <td><%= empresa.nome_contato %></td>
        <td><%= empresa.telefone_contato %></td>
        <td><%= empresa.cnpj %></td>
        <td><%= link_to 'Mostrar', empresa %></td>
        <td><%= link_to 'Editar', edit_empresa_path(empresa) %></td>
        <td><%= link_to 'Apagar', empresa, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova Empresa', new_empresa_path %>
