<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}" %>
<% end %>

<%- model_class = Empresa -%>

<div class="list-group">
  <h1 class="list-group-item-heading list-group-item-info">
        <center><%=t '.title', :default => model_class.model_name.human(count: @empresas.count).titleize %></center>
  </h1>
</div>
<div class="row">
  <table class="table table-striped" id="empresas">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:razao) %></th>
        <th><%= model_class.human_attribute_name(:nome_fantasia) %></th>
        <th><%= model_class.human_attribute_name(:cnpj) %></th>
        <th><%= model_class.human_attribute_name(:sap) %></th>
        <th><%= model_class.human_attribute_name(:endereco) %></th>
        <th><%= model_class.human_attribute_name(:cidade) %></th>
        <th><%= model_class.human_attribute_name(:cep) %></th>
        <th><%= model_class.human_attribute_name(:uf) %></th>
        <th><%= model_class.human_attribute_name(:nome_contato) %></th>
        <th><%= model_class.human_attribute_name(:fixo) %></th>
        <th><%= model_class.human_attribute_name(:celular) %></th>
        <th><%= model_class.human_attribute_name(:email) %></th>
      </tr>
    </thead>
    <tbody>
      <% @empresas.each do |empresa| %>
        <tr>
          <td><%=link_to empresa.razao, empresa_path(empresa), :title => "Detalhar/Editar" %></td>
          <td><%= empresa.nome_fantasia %></td>
          <td><%= empresa.cnpj %></td>
          <td><%= empresa.sap %></td>
          <td><%= empresa.endereco %></td>
          <td><%= empresa.cidade %></td>
          <td><%= empresa.cep %></td>
          <td><%= empresa.uf %></td>
          <td><%= empresa.nome_contato %></td>
          <td><%= empresa.fixo %></td>
          <td><%= empresa.celular %></td>
          <td><%= empresa.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- /div row -->
<center>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_empresa_path,
              :class => 'btn botao btn-sm' %>
</center>
