<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @empresa.nome %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @empresa.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @empresa.cidade %>
</p>

<p>
  <strong>UF:</strong>
  <%= @empresa.uf %>
</p>

<p>
  <strong>Nome de Contato:</strong>
  <%= @empresa.nome_contato %>
</p>

<p>
  <strong>Telefone Contato:</strong>
  <%= @empresa.telefone_contato %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @empresa.cnpj %>
</p>

<%= link_to 'Editar', edit_empresa_path(@empresa) %> |
<%= link_to 'Voltar', empresas_path %>
