<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>
<% end %>

<%- model_class = Regional -%>
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-right: -130px">
      <!-- codigo da pagina -->
      <div class="list-group">
        <h1 class="list-group-item-heading list-group-item-info" style="margin-top: 10px;">
          <center><%=t '.title', :default => model_class.model_name.human(count: @regionais.count).titleize.upcase %></center>
        </h1>
      </div><!-- list-group -->
      <div class="col-lg-2" ></div>
      <div class="col-lg-8">
        <table id="regionais" class="table display" >
          <thead>
            <tr>
             <th><%= model_class.human_attribute_name(:cod_regional) %></th>
             <th><%= model_class.human_attribute_name(:nome) %></th>
           </tr>
         </thead>
         <tbody>
          <% @regionais.each do |regional| %>
          <tr>
            <td><center><%= link_to regional.cod_regional, regional_path(regional), :title => "Detalhar/Editar" %></center></td>
            <td><%= regional.nome %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
    <center>
      <%= link_to t('.new', :default => t("helpers.links.new")),
      new_regional_path,
      :class => 'btn botao btn-sm' %>
    </center>
    <!--/ codigo da pagina -->
  </div> <!-- row -->
  </div><!-- /.container-fluid -->
</div><!-- / #page-wrapper -->

