<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Viabilidade" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>


    <!-- Carrega apenas as views e css necessários as views a serem executada -->
    <%= yield :head %>

  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TELEBRAS ap velho</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Viabilidades", solicitacoes_path %></li>
            <li class='dropdown'>
              <a class="dropdown-toggle" data-toggle='dropdown' href="#">Cadastro
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Empresas", empresas_path %></li>
                <li><%= link_to "Equipamentos", equipamentos_path %></li>
                <li><%= link_to "Estações", estacoes_path %></li>
                <li><%= link_to "Analistas", analistas_path %></li>
                <li><%= link_to "Justificativas", justificativas_path %></li>
                <li><%= link_to "Serviços", servicos_path %></li>
                <li><%= link_to "Regionais", regionais_path %></li>
                <li><%= link_to "Localidades", localidades_path %></li>
                <li><%= link_to "UF", uf_index_path %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ">
            <% if usuario_signed_in? %>
              Logado como <strong><%= current_usuario.email%></strong>
              <li><%= link_to ('<span class="glyphicon glyphicon-edit">
                </span> Edit profile').html_safe, edit_usuario_registration_path %></li>
              <li><%= link_to ('<span class="glyphicon glyphicon-log-out">
                </span> Logout').html_safe,
                destroy_usuario_session_path,
                method: :delete,
                :class => 'navbar-link' %></li>
            <% else %>
              <li><%= link_to ('<span class="glyphicon glyphicon-user">
                </span> Sign up').html_safe,
                new_usuario_registration_path %></li>
              <li><%= link_to ('<span class="glyphicon glyphicon-log-in">
                </span> Login').html_safe,
                new_usuario_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!-- script de notificacao -->
    <script>
      $.notify("<%= notice %>", "success");
    </script>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!--/row-->
      <footer>
        <p>&copy; Telebras 2017</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>

