<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Viabilidade" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag "backoffice", :media => "all" %>
    <%= javascript_include_tag "backoffice" %>


    <!-- Carrega apenas as views e css necessários as views a serem executada -->
    <%= yield :head %>

  </head>
  <body>
    <!--Navigation -->
    <%= render partial: "./layouts/backoffice_shared/navigation" %>

    <div class="container clear" >
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!--/row-->
        <%= render partial: "./layouts/backoffice_shared/footer" %>
    </div> <!-- /container -->
    <% if notice %>
      <script>
        $.notify("<%= notice %>", "success");
      </script>
    <% end %>

  </body>
</html>

